/bin/
/obj/
*.lock.json
/appsettings.json
/appsettings.development.json
/appsettings.production.json
*.json
*.development.json
*.production.json
/.config/
/.vs/
/logs/
/LogServers/
/Properties/
/UNI.Resident.API.csproj.user
